* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: content-box;
}

main {
  margin: 10vw;
  margin-top: 130px;
  /* box-sizing: content-box; */
  /*border: 3px solid gray;*/
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  background: rgb(8, 30, 63);
  background-attachment: fixed;
}

h1 {
  font-size: 40px;
  color: rgb(81, 179, 209);
}

h2 {
  font-size: 30px;
  color: rgb(81, 179, 209);
}

h3 {
  font-size: 20px;
  color: rgb(81, 179, 209);
}

p {
  color: rgb(81, 179, 209);
  font-size: 18px;
}

button {
  background: rgba(19, 60, 126);
  /* border: 2px solid rgb(0, 0, 0); */
  color: rgb(81, 179, 209);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  /* cursor: pointer; */
  /* box-shadow: 3px 3px 3px rgba(138, 138, 138, 0.692); */
}

button:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 5px rgba(138, 138, 138, 0.692);
}

/* NAVBAR */

#menu {
  background-color: rgb(8, 30, 63);
  margin: auto;
  align-items: center;
  position: fixed;
  top: 0; /* Stick it to the top of the viewport */
  left: 0; /* Stick it to the left side */
  width: 100%;
  z-index: 100;
}

#menu ul {
  display: flex;
  list-style: none;
  margin: auto;
  padding: 20px;
}
#menu a {
  text-decoration: none;
  color: rgb(81, 179, 209);
}

.allmenu ul {
  justify-content: space-between;
}

.allmenu {
  margin-left: 2vw;
  margin-right: 2vw;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-links li {
  margin-left: 40px;
}

#menu a:hover {
  font-weight: bold;
}

#logo {
  height: 20px;
}

/* #logo:hover {
  height: 23px;
} */

#user {
  height: 20px;
}

#hamburger-menu {
  height: 48px;
  display: none;
  top: 3px;
  left: 430px;
}

#hamburger-menu img {
  height: 40px;
}

@media screen and (max-width: 700px) {
  #hamburger-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 3vw;
    padding: 14px;
    cursor: pointer;
  }
  #hamburger-menu img:hover {
    height: 45px;
  }
  #menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #menu ul.active {
    display: flex;
  }
  .navbar-links {
    flex-direction: column;
    align-items: center;
  }

  .navbar-links li {
    margin-left: 0px;
  }

  #menu ul:not(.active) {
    display: none;
  }
  #menu {
    max-height: 400px;
  }

  nav .nav-links {
    display: none; /* Hide the navigation links by default */
  }

  .active .nav-links {
    display: block; /* Show the navigation links when the menu is active */
  }
}

.login-form {
  margin-top: 10px;
}

.menu-icon {
  width: 30px; /* Adjust the size as needed */
  height: 30px;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .menu-icon {
    display: none; /* Hide the menu icon on larger screens */
  }
}

/* LANDING PAGE (HOME) */

#home-container {
  margin-top: 100px;
}

.home-top-container {
  display: flex;
}

.home-top-mainpic img {
  width: 60vw;
  height: 700px;
  object-fit: cover;
  object-position: top;
  border-radius: 0px 10px 10px 0px;
}

.home-top-intro {
  display: flex;
  width: 40vw;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

#text2 {
  margin-top: 10px;
}

#text3 {
  margin-top: 30px;
}

.home-top-intro-line {
  border-top: 4px solid rgb(81, 179, 209);
  width: 80%;
  margin-top: 50px;
}

.home-top-intro-arrow {
  margin-top: 20px;
}

/* .home-aboutme-container {
  margin-top: 350px;
  padding: 0vw 10vw 0vw 10vw;
}

.home-aboutme-bottom {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.home-aboutme-text {
  width: 60%;
}

.home-aboutme-text h1{
  margin-bottom: 20px;
}

.home-aboutme-button button{
  min-width: 150px;
}

.home-aboutme-button {
  width: 20%;
  margin-top: 50px;
}
 */

.home-projects-container {
  margin-top: 150px;
}

.home-projects-container h1 {
  margin-left: 7vw;
}

.home-projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-projects-section h2 {
  margin-bottom: 40px;
}

.home-projects-section button {
  margin-top: 40px;
}

.home-projects-section-project1 {
  display: flex;
  width: 60%;
  min-width: 900px;
  gap: 50px;
  margin-top: 120px;
}

.home-projects-section-project1-img {
  width: 60%;
}

.home-projects-section-project1-img img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.home-projects-section-project1-desc {
  width: 40%;
  display: flex;
  flex-direction: column;
}


.home-projects-section-project1-desc-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-projects-section-project2 {
  display: flex;
  width: 60%;
  min-width: 900px;
  gap: 50px;
  margin-top: 120px;
}

.home-projects-section-project2-img {
  width: 60%;
}

.home-projects-section-project2-img img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.home-projects-section-project2-desc {
  width: 40%;
}

.home-projects-section-project2-desc-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-projects-section-project3 {
  display: flex;
  width: 60%;
  min-width: 900px;
  gap: 50px;
  margin-top: 120px;
}

.home-projects-section-project3-img {
  width: 60%;
}

.home-projects-section-project3-img img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.home-projects-section-project3-desc {
  width: 40%;
}

.home-projects-section-project3-desc-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-projects-more {
  display: flex;
  justify-content: center;
  margin-top: 130px;
  padding-bottom: 200px;      /*temporarly only for asthetics*/
}

.home-projects-more button{
  width: 300px;
  height: 50px;
}

  

/* ABOUT ME */

.aboutme-pic {
  height: 50vw;
  width: 30vw;
  max-height: 580px;
  max-width: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.aboutme-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 70px;
}

.aboutme-text {
  max-width: 600px;
  font-size: 20px;
}

.cv-button {
  display: block;
  margin: 15px auto; /* Center the button horizontally with top margin */
  margin-top: 30px;
}

.aboutme-softskills-container{
  color: rgb(81, 179, 209);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.aboutme-softskills-container ul{
  margin-top: 20px;
}

.aboutme-softskills-container ul li{
  margin-bottom: 5px;
}

.techskills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.techskills-skills img {
  height: 100px;
  margin-top: 20px;
}

.aboutme-languages-container{
  color: rgb(81, 179, 209);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 200px;      /*temporarly only for asthetics*/
}

.aboutme-languages-container ul{
  margin-top: 20px;
}

.aboutme-languages-container ul li{
  margin-bottom: 5px;
}


@media screen and (max-width: 800px) {
  .aboutme-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .aboutme-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

/* CONTACTS */

.contacts-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/*  PROJECTS  */

.projects-filters ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.projects-filters a {
  text-decoration: none;
  color: rgb(81, 179, 209);
  margin: 10px;
}

.projects-filters-active {
  font-weight: bold;
  font-size: larger;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
}

.projects-container img {
  height: 230px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-filters ul {
    justify-content: center;
  }
}

/* PROJECT DESCRIPTIONS */

#project-desc-main {
  margin-top: 60px;
}

#project-desc-main h1 {
  margin-bottom: 50px;
}

.more-projects p {
  margin-top: 130px;
  margin-left: 70px;
  text-decoration: none;
}

.more-projects p:hover {
  font-weight: bold;
}

.more-projects a:link,
.more-projects a:visited {
  color: #51b3d1;
  text-decoration: none;
}

.project-desc-img {
  width: 600px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.programming-language{
  display: flex;
  gap: 20px;
  width: 80px;
  height: 80px;
}



/* --- PROJECT DESCRIPTIONS PERSONALIZED */

.lunar-lander-img2 {
  width: 300px;
  height: 360px;
  object-fit: cover;
  border-radius: 5px;
}

.lunar-lander-img3 {
  width: 600px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.bstjkp-planning-img {
  width: 430px;
  height: 590px;
  object-fit: cover;
  border-radius: 5px;
}

.magazine-img {
  width: 500px;
  height: 345px;
  object-fit: cover;
  border-radius: 5px;
}

.magazine-pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.magazine-pages img {
  width: 620px;
  height: 445px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-doveko-cover {
  width: 330px;
  height: 490px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-doveko-img {
  width: 1100px;
  height: 780px;
  object-fit: cover;
  border-radius: 5px;
}

.stylization-img {
  width: 330px;
  height: 490px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-essence-poster-img {
  width: 535px;
  height: 690px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-essence-bts{
  width: 550px;
  height: 380px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-bookstore-prototype {
  width: 300px;
  height: 900px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-bookstore-igpost{
  width: 300px;
  height: 700px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-bookstore-logos {
  width: 900px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-bookstore-colours {
  width: 420px;
  height: 360px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-bookstore-illustrations {
  width: 900px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-bookstore-mockup1 {
  width: 460px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-bookstore-mockup2 {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-bookstore-mockup3 {
  width: 330px;
  height: 710px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-bookstore-ads {
  width: 330px;
  height: 710px;
  object-fit: cover;
  border-radius: 5px;
}

.branding-personal-img {
  width: 830px;
  height: 310px;
  object-fit: cover;
  border-radius: 5px;
}

.ui-temporary-img {
  width: 600px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  /* border: 5px solid black;
  padding: 30px; */
}

.ui-temporary-img-colour{
  width: 1200px;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}

.ui-temporary-img-icons{
  width: 1400px;
  height: 600px;
  object-fit: cover;
  border-radius: 5px;
}

.ui-temporary-img-buttons {
  width: 680px;
  height: 240px;
  object-fit: cover;
  border-radius: 5px;
}

.ui-temporary-img-landing-web{
  width: 1150px;
  height: 1300px;
  object-fit: cover;
  border-radius: 5px;
}

.ui-temporary-img-landing-mobile {
  width: 800px;
  height: 1820px;
  object-fit: cover;
  border-radius: 5px;
}

.ui-temporary-img-sitemap {
  width: 1300px;
  height: 700px;
  object-fit: cover;
  border-radius: 5px;
}

.ui-temporary-img-cschemes {
  width: 800px;
  height: 650px;
  object-fit: cover;
  border-radius: 5px;
}

.ui-temporary-img-versions {
  width: 1300px;
  height: 930px;
  object-fit: cover;
  border-radius: 5px;
}

